header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    mix-blend-mode: difference;
    padding: 5px 60px;
}
@media screen and (max-width: 767px) {
    nav {
        padding: 5px 40px;
    }
}
@media screen and (max-width: 575px) {
    nav {
        padding: 5px 20px;
    }
}
nav .nav-logo {
    height: 80px;
}
nav .nav-logo img {
    height: 100%;
}
nav .navbar {
    display: flex;
    gap: 3rem;
    i {
        color: #fff;
        display: none;
    }
}
nav .navbar li {
    position: relative;
}
nav .navbar li > .subnav {
    position: absolute;
    left: 0;
    top: 100%;
    max-height: 0;
    min-width: 160px;
    padding-top: 10px;
    overflow: hidden;
    transition: .3s;
}
nav .navbar li:hover > .subnav {
    max-height: 200px;
}
nav .navbar li a {
    color: #fff;
}
nav .navbar .nav-member {
    margin-left: 5px;
    position: relative;
    ::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 30px;
        background-color: #fff;
        left: -25%;
    }
}
nav .hb {
    display: none;
}
@media screen and (max-width:991px) {
    nav .hb {
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    nav .hb span{
        width: 80%;
        height: 2px;
        background-color: #fff;
    }
    nav .navbar {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 100px;
        left: 0;
        width: 100%;
        
        li {
            display: flex;
            text-align: center;
            a {
                flex-grow: 2;
            }
        }
        i  {
            display: block;
        }
    }
}