//section-event-title
.section-event-title{
    background: url("https://picsum.photos/1200/800/?random=10");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;

    .title-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }
    .title {
        color: #fff;
        display: flex;
        flex-direction: column;
    }    
}
//section-event-banner
.section-event-banner{
    background-color: $color-primary;
    text-align: center;
    .sloagn1{
        margin-bottom: 30px;
    }
    .sloagn2{
        margin-bottom: 30px;
    }
}
//section-event-date
.section-event-date{
    background-color: #fff;
    text-align: center;
    .calendar{
        width: clamp(600px,auto,1200px);
        margin: 40px auto;
    }
    .area-list{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border: 10px double #000;
    }
    .area-list .area{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px 0;
        h3{
            width: 30%;
        }
        p{
            width: 50%;
            text-align: left;
        }
    }
}
//section-event-list
.section-event-list{
    background-color: #fff;
    text-align: center;
    .menu .choose{
        width: 100%;
        border-radius: 0;
        margin-bottom: 30px;
        padding: 5px 10px;
    }
    select{
        text-align: center;
        font-family: $font-family-base;
    }
}
//兩欄時，卡片上下間距
.col-md-6{
    margin: 15px 0;
}
//section-event-share
.section-event-share{
    text-align: center;
}
//卡片(共通)
.event-card{
    padding: 20px;
    background-color: #fff;
    text-align: left;
    box-shadow: 2px 2px 10px $color-border;
    .text .theme{
        margin-bottom: 20px;
    }
    .text .place{
        margin-bottom: 20px;
    }
    .pic img{
        width: 100%;
        vertical-align: top;
    }
    .addnew{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
    }
}
//頁碼(共通)
.pagenumber{
        margin: 30px 0;
        a{
            display: inline-block;
            border: 1px solid #000;
            padding: 7px 14px;
            margin:10px;
        }
    }
//section-event-agree
.section-event-agree{
    text-align: center;
    .return{
        margin: 30px 0;
    }
}
//section-light-box
.section-light-box{
    background-color: $color-border;
    position: relative;
    .pic{
        img{
            width: 100%;
            vertical-align: top;
        }
        h3{
            margin-top: 30px;
        }
    }
    .close{
        // text-align: right;
        position: absolute;
        top: 3%;
        right: 2%;
        a{
            font-size: 36px;
        }
    }
    .activity-area{
        display: flex;
        flex-direction: column;
        height: 40rem;
        .text{
            h3{
                margin-bottom: 30px;
            }
            p{
                margin-bottom: 30px;
            }
        .join{
            display: flex;
            margin-bottom: 30px;
            .people{
                margin: 0;
            }
                select{
                    flex-grow: 1;
                }
            }
        }
    }
    .state{
        .stop,.full,.end{
            display: none;
        }
        .now{
            width: 100%;
        }
    }


}