@media screen and (max-width: $breakpoint-xl) {
    h1 {
        font-size: 2.75rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1.25rem;
    }

    h6 {
        font-size: 1rem;
    }

    section {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

@media screen and (max-width: $breakpoint-lg) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    h5 {
        font-size: 1rem;
    }

    h6 {
        font-size: 0.875rem;
    }

    section {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
}

@media screen and (max-width: $breakpoint-md) {
    h1 {
        font-size: 2.25rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    h5 {
        font-size: 1.125rem;
    }

    h6 {
        font-size: 1rem;
    }

    p,
    a,
    ul,
    ol {
        font-size: 1.4rem;
    }

    button,
    input[type="button"] {
        font-size: 1.4rem;
        padding: 0.625rem 1.25rem;
    }

    section {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: $breakpoint-sm) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    h5 {
        font-size: 1.125rem;
    }

    h6 {
        font-size: 1rem;
    }

    p,
    a,
    ul,
    ol {
        font-size: 1.2rem;
    }

    button,
    input[type="button"] {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
    }

    section {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}