footer {
    background-color: #26272B;
    color: #fff;
    padding: 40px 10px;
    display: block;
}
footer .wrapper {
    display: grid;
    grid-template-columns: 20.8% 24.69% 35.73% 18.78%;
}
@media screen and (max-width: 991px){
    footer .wrapper{
        grid-template-columns: repeat(2, 50%);
    }
}
@media screen and (max-width: 767px){
    footer .wrapper{
        grid-template-columns: 100%;
        grid-template-rows: repeat(4,300px);
    }
}
.footer-contact, .footer-structure, .footer-subscribe, .footer-guide {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
}
.wrapper h3 {
    margin-bottom: 30px;
}
.footer-contact .footer-media {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    a {
        color: #fff;
    }
    img {
        height: 25px;
        vertical-align: top;
    }
}
.structure-sign {
    display: flex;
    gap: 25px;
}
.footer-subscribe .sub-input {
    border: 2px solid $color-highlight;
    display: flex;
}
.footer-subscribe .sub-input input {
    flex-grow: 2;
    border-radius: 0;
    border: none;
    color: #fff;
    background-color: transparent;
    &:focus {
        outline: none;
    }
}
.footer-subscribe .sub-input button:hover {
    background-color: $color-highlight;
}
footer .footer-subscribe-wrap .footer-h3 {
    margin-top: 20px;
}
.footer-subscribe .footer-subscribe-wrap > button {
    margin-top: 10px;
    width: 100%;
}
.footer-guide .guide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-guide .guide a {
    color: #fff;
}
.announce {
    margin-top: 20px;
    font-family: $font-family-base;
    padding: 0 30px;
}